.holder
        {
         margin: 15px 0;
            display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
float:right;
cursor: pointer;
        }
        .holder a
        {
           position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: 3px;
	line-height: 1.42857143;
	color: #fff;
	text-decoration: none;
	background-color: #ccc;
	
	border: 1px solid #ddd;
border-radius:50%;
cursor: pointer;
        }
        .holder a:hover
        {
           
 
	z-index: 2;
    color: #eee;
    background-color:green;
    border-color: #fff;

	
           

        }
        .holder a.jp-previous
        {
            margin-right: 5px;
margin-left: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	cursor: pointer;
        }
        .holder a.jp-next
        {
            margin-left: 5px;
border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	cursor: pointer;
        }
        .holder a.jp-current, a.jp-current:hover
        {
z-index: 3;
	color: black;
	cursor: default;
	background-color: ;
/* 	border-color green; */

        }
        .holder a.jp-disabled, a.jp-disabled:hover
        {
            color: #bbb;
        }
        .holder a.jp-current, a.jp-current:hover, .holder a.jp-disabled, a.jp-disabled:hover
        {
            cursor: default;
            
        }
        .holder span
        {
            margin: 0 5px;
background-color: #ccc;
    padding: 3px 9px;
    color: #111;
    border: 0px;
        }
